@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(144, 144, 180);
}
.div-container-card{
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: repeat(8, 3.5rem);
    border: 1px solid #000;
    border-radius: 5px;
    margin-top:10px;
    background-color: #fff;
}

img{
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}
    

